################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChainOfResponsibility/bin
/ChainOfResponsibility/obj
/.vs
